<html>
  <head>
    <title>MathEmbed - Because Robin is Awesome</title>
  </head>
  <body>
    <form method="POST" action="">
      <label for="inputText">Enter your LaTeX here</label>
      <input type="text" name="inputText"/>
      <button type="submit">Make Embed</button>
    </form>
  </body>
</html>
