doctype html
html(lang="en")
  head
    title MathEmbed - Because Robin is Awesome
    
  body
    form(method='POST' action = "")
      label(for="inputText") Enter your LaTeX here
      input(type="text" name = "inputText")
      button(type="submit") Make Embed
