doctype html
html(lang="en")
    head
        title MathEmbed : Embed TeX anywhere
        link(rel= "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.css")
        link(rel= "alternate" type ="application/json+oembed" href = "https://mathembed.com/oembed?url=https%3A%2F%2Fmathembed.com%2Flatex?inputText=#{inputEmbedText}")
        link(rel= "icon" type="image/png" href="./static/favicon.ico")
        link(href='./static/result.css', type='text/css', rel='stylesheet')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.js")
    body(style = "background-color:white")
        script.
            var str = `\\displaystyle{#{inputText}}`; // https://stackoverflow.com/questions/5796718
            var element = document.createElement('div');
            str = str.replace(/<script[^>]*>([\S\s]*?)<\/script>/gmi, '');
            str = str.replace(/<\/?\w(?:[^"'>]|"[^"]*"|'[^']*')*>/gmi, '');
            element.innerHTML = str;
            str = element.textContent;
            element.textContent = '';
            console.log(str)
            katex.render(str, document.body)
