doctype html
html(lang="en")
    head
        title MathEmbed : Embed TeX anywhere
        link(rel= "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.css")
        link(rel= "alternate" type ="application/json+oembed" href = "https://mathembed.com/oembed?url=https%3A%2F%2Fmathembed.com%2Flatex?inputText=#{inputEmbedText}")
        link(rel= "icon" type="image/png" href="./static/favicon.ico")
        link(href='./static/result.css', type='text/css', rel='stylesheet')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.js")
    body(style = "background-color:white")
        h1 = inputText
        script.
            console.log("#{inputText}")
            katex.render("\\displaystyle{#{inputText}}", document.body)
